@using ViewModel.Users;
@model UserVM


@if (Model != null)
{
	<span class="mr-2 d-none d-lg-inline text-black ">@Model.UserName</span>
	<img class="img-profile rounded-circle"
	 src="~/Images/ProfileImages/7fae5c49937386a0942c3ddaef1b5159.jpg">
	<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
	 aria-labelledby="userDropdown">
		<a class="dropdown-item" href="#">
			<i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
			Profile
		</a>
		<a class="dropdown-item" href="#">
			<i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
			Settings
		</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
			<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
			Logout
		</a>
	</div>
}
