
<div class="header-middle">
    <div class="container">
        <div class="header-left">
            <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                <form action="#" method="get">
                    <div class="header-search-wrapper search-wrapper-wide">
                        <label for="q" class="sr-only">Search</label>
                        <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                        <input type="search" class="form-control" name="q" id="q" placeholder="Tìm kiếm ..." required>
                    </div><!-- End .header-search-wrapper -->
                </form>
            </div><!-- End .header-search -->
        </div>
        <div class="header-center">
            <a href="index.html" class="logo">
                <img src="assets/images/demos/demo-6/logo.png" alt="Molla Logo" width="82" height="20">
            </a>
        </div><!-- End .header-left -->
        @await Component.InvokeAsync("Cart")

        <div class="header-right-account">
            <div class="dropdown cart-dropdown">
                <a href="#signin-modal" class="dropdown-toggle" data-toggle="modal">
                    <i class="icon-user"></i>
                    @await Component.InvokeAsync("UserInfo")
                </a>
            </div><!-- End .cart-dropdown -->
        </div>
    </div><!-- End .container -->
</div><!-- End .header-middle -->